* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  margin: 50px 0;
}
.logo img {
  width: 250px;
}

.main-nav {
  text-align: center;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.main-nav ul a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  padding: 15px;
}

.active {
  background-color: #B2E5FC;
}

.footer-left {
  width: 34%;
}

footer {
  padding-top: 100px;
}
footer ul {
  list-style: none;
  font-size: 20px;
  color: #848D9B;
}
footer h3 {
  font-size: 30px;
}

.footer-right {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.footer_cnt {
  display: flex;
}

.list__item {
  width: 50%;
}

main {
  margin-top: 20px;
  padding: 50px 0;
}

.bg-img {
  background-image: url("../images/fondo-pag-speciali.jpg");
  width: 100%;
}

.cnt__cards {
  display: flex;
  flex-wrap: wrap;
}
.cnt__cards .card {
  width: calc((100% / 3) - 20px);
  margin: 10px;
}
.cnt__cards .card img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
  color: #002D73;
}

.prodotto {
  background: #B8DAE6;
}
.prodotto img {
  width: 100%;
}
.prodotto h1 {
  text-align: center;
  color: #002D73;
}
