* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  margin: 50px 0;
}
.logo img {
  width: 250px;
}

.main-nav {
  text-align: center;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.main-nav ul a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  padding: 15px;
}

.active {
  background-color: #B2E5FC;
}

main {
  margin-top: 20px;
}

.cnt__cards {
  display: flex;
  flex-wrap: wrap;
}
.cnt__cards .card {
  width: calc((100% / 3) - 20px);
  margin: 10px;
}
.cnt__cards .card img {
  display: block;
  width: 100%;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}
