* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  margin: 50px 0;
}
.logo img {
  width: 250px;
}

.main-nav {
  text-align: center;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.main-nav ul a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  padding: 15px;
}

.active {
  background-color: #B2E5FC;
}
