main {
  margin-top: 20px;
}

.cnt__cards {
  display: flex;
  flex-wrap: wrap;
    .card {
      width: calc((100% / 3) - 20px);
      margin: 10px;
      img {
        display: block;
        width: 100%;
      }
    }

}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin: 20px 0;
}